
.project-button-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dashboard h1, h4 {
    text-align: center;
}

.jumbotron {
    padding-bottom: 5px;
}

#sourceSection {
    background-color: #d46a6a;
    min-height: 200px;
}

.panel-standout, .panel-standout .panel-footer {
    font-weight: bold;
    text-align: center;
    background-color: #d46a6a;
    color: #eaeaea;
}

.panel-standout .panel-body {
    background-color: #dddddd;
    border-color: #d46a6a;
    color: #333;
}




